/* =============== Postings =============== */
#postingsTableDiv {
    min-height: 0 !important;
}

.postingsTable {
    table-layout: fixed;
}

.postingsTable > thead > tr > th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    overflow: hidden !important;
    background-position: center right !important;
    vertical-align: middle;
}

.postingsTable > tbody > tr > td {
    text-overflow: ellipsis !important;
    white-space: normal !important;
    overflow: hidden !important;
    box-sizing: border-box;
}

/* Apply button */
.postingsTable > tbody > tr > td > a.btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0;
    text-transform: none;
    font-weight: normal;
}

/* Dropdown */
.postingsTable > tbody > tr > td > div.btn-group {
    display: none;
}

/* NEW tag*/
.postingsTable .label {
    border-radius: 100px;
    padding: 1px 6px;
    font-size: 0.9em;
}

/* job title, organization, division */
.postingsTable > tbody > tr > td:nth-child(4) .combined-info {
    font-weight: normal;
    display: block;
    padding-top: 4px;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > .organization {
    color: #000;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > .division {
    color: #aaa;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > i {
    color: #ccc;
    padding: 0 6px;
}

/*hide organization & division*/
/*.postingsTable > tbody > tr > td:nth-child(5),*/
/*.postingsTable > thead > tr > th:nth-child(5),*/
/*.postingsTable > tbody > tr > td:nth-child(6),*/
/*.postingsTable > thead > tr > th:nth-child(6) {*/
/*display: none;*/
/*}*/

.orgDivTitleMaxWidth {
    max-width: none !important;
}

/* new tab link */
.postingsTable > tbody > tr > td .view-in-new-tab-link {
    font-weight: normal !important;
    padding-left: 5px;
    visibility: hidden;
    text-decoration: none;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -ms-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}

.postingsTable > tbody > tr > td .view-in-new-tab-link > i {
    display: inline;
}

.postingsTable > tbody > tr > td .view-in-new-tab-link > span {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -ms-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}

.postingsTable > tbody > tr > td .view-in-new-tab-link:hover > span {
    opacity: 1;
}

.postingsTable > tbody > tr:hover > td .view-in-new-tab-link {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 979px) {
    .postingsTable {
        table-layout: auto;
    }

    .postingsTable > thead > tr > th {
        white-space: nowrap !important;
    }

    .postingsTable > tbody > tr > td {
        white-space: nowrap !important;
        max-width: 200px !important;
    }

    .postingsTable > tbody > tr > td .view-in-new-tab-link {
        display: none;
    }

}

/* popup modal */
.modal-posting .modal-footer {
    text-align: center;
}

.modal-job-title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 200;
}

.modal-organization {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    opacity: 0.6;
}

.modal-posting-actions {
    margin: 0 0 30px;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-show-link {
    float: right;
    font-size: 14px;
    opacity: 0;
    text-decoration: none !important;
    z-index: 10;
    position: relative;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.postingsTable > tbody > tr:hover > td .modal-show-link {
    opacity: 1;
    font-weight: normal;
}

.modal-nav {

}

.modal-nav i {
    position: fixed;
    display: block;
    top: 40%;
    z-index: -1;
    width: 80px;
    height: 160px;
    font-size: 80px;
    line-height: 160px;
    text-align: center;
    color: #fff;
    opacity: 0.1;
    text-shadow: 0 0 0 #000;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease, text-shadow 0.2s ease;
    -moz-transition: opacity 0.2s ease, text-shadow 0.2s ease;
    -ms-transition: opacity 0.2s ease, text-shadow 0.2s ease;
    -o-transition: opacity 0.2s ease, text-shadow 0.2s ease;
    transition: opacity 0.2s ease, text-shadow 0.2s ease;
}

.modal-nav i.prev-posting {
    left: 10px;
}

.modal-nav i.next-posting {
    right: 30px;
}

.modal-nav i:hover {
    opacity: 0.3;
    text-shadow: 0 0 10px #000;
}

@media (max-width: 1000px) {
    .modal-show-link {
        display: none;
    }

    .modal-nav {
        display: none;
    }
}

/* tile */

.postingsTable-tile.table-header-fixed {
    /*-webkit-animation: tileHeaderShowAni 0.2s ease;*/
    /*-o-animation: tileHeaderShowAni 0.2s ease;*/
    /*animation: tileHeaderShowAni 0.2s ease;*/
}

@-webkit-keyframes tileHeaderShowAni {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes tileHeaderShowAni {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

.postingsTable-tile:not(.table-header-fixed) > thead > tr {
    border: 1px solid #dddddd;
    border-left: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 14px) !important;
    margin: auto;
}

.postingsTable-tile > thead > tr > th {
    text-align: center;
    padding-right: 4px !important;
    background-image: none !important;
}

.postingsTable-tile.table-header-fixed {
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.postingsTable-tile.table-header-fixed thead tr th:first-child {
    border-bottom-left-radius: 10px !important;
}

.postingsTable-tile.table-header-fixed thead tr th:last-child {
    border-bottom-right-radius: 10px !important;
}

.postingsTable-tile:not(.table-header-fixed) {
    display: block;
    border: none;
}

.postingsTable-tile > thead {
    display: block;
    width: 100%;
}

.postingsTable-tile:not(.table-header-fixed) > thead {
    margin-bottom: 15px;
}

.postingsTable-tile > thead > tr {
    display: flex;
    width: 100%;
}

.postingsTable-tile > thead > tr > th {
    display: block;
    flex: 1;
}

.postingsTable-tile > tbody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.postingsTable-tile > tbody > tr {
    flex-grow: 1;
    position: relative;
    display: inline-block;
    width: calc(100% * (1 / 3) - 14px - 2px);
    max-width: calc(100% * (1 / 3) - 14px - 2px);
    height: 200px;
    margin: 0 7px 15px;
    border: 1px solid #dddddd;
    overflow: hidden;
    -webkit-transition: box-shadow 0.2s ease;
    -moz-transition: box-shadow 0.2s ease;
    -ms-transition: box-shadow 0.2s ease;
    -o-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
}

.postingsTable-tile > tbody > tr:hover {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

@media (min-width: 1800px) {
    .postingsTable-tile > tbody > tr {
        width: calc(100% * (1 / 4) - 14px - 2px);
        max-width: calc(100% * (1 / 4) - 14px - 2px);
    }
}

@media (max-width: 979px) {
    .postingsTable-tile > tbody > tr {
        width: calc(100% * (1 / 2) - 14px - 2px);
        max-width: calc(100% * (1 / 2) - 14px - 2px);
    }
}

@media (max-width: 767px) {
    .postingsTable-tile > tbody > tr {
        width: calc(100% - 14px - 2px);
        max-width: calc(100% - 14px - 2px);
    }
}

.postingsTable-tile > tbody > tr > td {
    position: absolute;
    display: block;
    border: none;
    background: none;
    max-width: none !important;
}

.postingsTable-tile.table-striped tbody > tr:nth-child(odd) > td,
.postingsTable-tile.table-striped tbody > tr:nth-child(odd) > th {
    background: none;
}

.postingsTable-tile.table-hover tbody tr:hover > td {
    background: none;
}

.postingsTable-tile > tbody > tr > td:hover {
    background: none;
}

/* posting btns */
.postingsTable-tile > tbody > tr > td:nth-child(1) {
    position: absolute;
    width: 100% !important;
    height: 50px;
    padding: 8px 20px 0;
    border-top: 1px solid #dddddd;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
    vertical-align: middle;
}

.postingsTable-tile.table-striped tbody > tr:nth-child(odd) > td:nth-child(1) {
    background: #f9f9f9;
}

.postingsTable-tile > tbody > tr:hover > td:nth-child(1) {
    background: #f9f9f9;
}

.postingsTable-tile > tbody > tr > td:nth-child(1) > a.btn {
    display: inline-block;
    float: left;
    width: 30%;
    margin-right: 5px;
}

/* status */
.postingsTable-tile > tbody > tr > td:nth-child(2) {
    top: 12px;
    right: 20px;
    width: auto !important;
    font-size: 10px;
}

/* id */
.postingsTable-tile > tbody > tr > td:nth-child(3) {
    top: 12px;
    left: 20px;
    width: auto !important;
    font-size: 10px;
    color: #aaa;
}

.postingsTable-tile > tbody > tr > td:nth-child(3):before {
    content: '# ';
}

/* title */
.postingsTable-tile > tbody > tr > td:nth-child(4) {
    top: 34px;
    left: 20px;
    right: 20px;
    padding-right: 15px;
    width: auto !important;
    font-size: 18px;
    white-space: nowrap !important;
    overflow: visible;
    text-overflow: ellipsis;
}

.postingsTable-tile > tbody > tr > td:nth-child(4) a.modal-show-link {
    font-size: 18px;
    right: -15px;
}

.postingsTable-tile > tbody > tr > span.label.new-tag {
    position: absolute;
    display: block;
    top: 7px;
    right: -19px;
    border-radius: 0;
    font-size: 12px;
    padding: 1px 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* org */
.postingsTable-tile > tbody > tr > td:nth-child(5) {
    top: 57px;
    left: 20px;
    right: 20px;
    width: auto !important;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.postingsTable-tile > tbody > tr > td:nth-child(5) > span.division {
    color: #aaa;
}

.postingsTable-tile > tbody > tr > td:nth-child(5) > span.division > i {
    margin-left: 4px;
    margin-right: 4px;
}

/* division */
.postingsTable-tile > tbody > tr > td:nth-child(6) {
    display: none;
}