/* =============== Postings =============== */
#postingsTableDiv {
    min-height: 0 !important;
}

.postingsTable {
    table-layout: fixed;
}

.postingsTable > thead > tr > th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    overflow: hidden !important;
    background-position: center right !important;
    vertical-align: middle;
}

.postingsTable > tbody > tr > td {
    text-overflow: ellipsis !important;
    white-space: normal !important;
    overflow: hidden !important;
    box-sizing: border-box;
}

/* Apply button */
.postingsTable > tbody > tr > td > a.btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0;
    text-transform: none;
    font-weight: normal;
}

/* Dropdown */
.postingsTable > tbody > tr > td > div.btn-group {
    display: none;
}

/* NEW tag*/
.postingsTable .label {
    border-radius: 100px;
    padding: 1px 6px;
    font-size: 0.9em;
}

/* job title, organization, division */
.postingsTable > tbody > tr > td:nth-child(4) .combined-info {
    font-weight: normal;
    display: block;
    padding-top: 4px;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > .organization {
    color: #000;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > .division {
    color: #aaa;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > i {
    color: #ccc;
    padding: 0 6px;
}

/*hide organization & division*/
/*.postingsTable > tbody > tr > td:nth-child(5),*/
/*.postingsTable > thead > tr > th:nth-child(5),*/
/*.postingsTable > tbody > tr > td:nth-child(6),*/
/*.postingsTable > thead > tr > th:nth-child(6) {*/
/*display: none;*/
/*}*/

.orgDivTitleMaxWidth {
    max-width: none !important;
}

/* new tab link */
.postingsTable > tbody > tr > td .view-in-new-tab-link {
    font-weight: normal !important;
    padding-left: 5px;
    visibility: hidden;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.postingsTable > tbody > tr > td .view-in-new-tab-link > i {
    display: inline;
}

.postingsTable > tbody > tr > td .view-in-new-tab-link > span {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.postingsTable > tbody > tr > td .view-in-new-tab-link:hover > span {
    opacity: 1;
}

.postingsTable > tbody > tr:hover > td .view-in-new-tab-link {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 979px) {
    .postingsTable {
        table-layout: auto;
    }

    .postingsTable > thead > tr > th {
        white-space: nowrap !important;
    }

    .postingsTable > tbody > tr > td {
        white-space: nowrap !important;
        max-width: 200px !important;
    }

    .postingsTable > tbody > tr > td .view-in-new-tab-link {
        display: none;
    }

}

/* popup modal */
.modal-posting .modal-footer {
    text-align: center;
}

.modal-job-title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-weight: 200;
}

.modal-organization {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    opacity: 0.6;
}

.modal-posting-actions {
    margin: 0 0 30px;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-show-link {
    float: right;
    font-size: 14px;
    opacity: 0;
    text-decoration: none !important;
    z-index: 10;
    position: relative;
    transition: opacity 0.2s ease;
}

.postingsTable > tbody > tr:hover > td .modal-show-link {
    opacity: 1;
    font-weight: normal;
}

.modal-nav {

}

.modal-nav i {
    position: fixed;
    display: block;
    top: 40%;
    z-index: -1;
    width: 80px;
    height: 160px;
    font-size: 80px;
    line-height: 160px;
    text-align: center;
    color: #fff;
    opacity: 0.1;
    text-shadow: 0 0 0 #000;
    cursor: pointer;
    transition: opacity 0.2s ease, text-shadow 0.2s ease;
}

.modal-nav i.prev-posting {
    left: 10px;
}

.modal-nav i.next-posting {
    right: 30px;
}

.modal-nav i:hover {
    opacity: 0.3;
    text-shadow: 0 0 10px #000;
}

@media (max-width: 1000px) {
    .modal-show-link {
        display: none;
    }

    .modal-nav {
        display: none;
    }
}

/* tile */

.postingsTable-tile.table-header-fixed {
    /*animation: tileHeaderShowAni 0.2s ease;*/
}

@keyframes tileHeaderShowAni {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

.postingsTable-tile:not(.table-header-fixed) > thead > tr {
    border: 1px solid #dddddd;
    border-left: none;
    box-sizing: border-box;
    width: calc(100% - 14px) !important;
    margin: auto;
}

.postingsTable-tile > thead > tr > th {
    text-align: center;
    padding-right: 4px !important;
    background-image: none !important;
}

.postingsTable-tile.table-header-fixed {
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.postingsTable-tile.table-header-fixed thead tr th:first-child {
    border-bottom-left-radius: 10px !important;
}

.postingsTable-tile.table-header-fixed thead tr th:last-child {
    border-bottom-right-radius: 10px !important;
}

.postingsTable-tile:not(.table-header-fixed) {
    display: block;
    border: none;
}

.postingsTable-tile > thead {
    display: block;
    width: 100%;
}

.postingsTable-tile:not(.table-header-fixed) > thead {
    margin-bottom: 15px;
}

.postingsTable-tile > thead > tr {
    display: flex;
    width: 100%;
}

.postingsTable-tile > thead > tr > th {
    display: block;
    flex: 1;
}

.postingsTable-tile > tbody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.postingsTable-tile > tbody > tr {
    flex-grow: 1;
    position: relative;
    display: inline-block;
    width: calc(100% * (1 / 3) - 14px - 2px);
    max-width: calc(100% * (1 / 3) - 14px - 2px);
    height: 200px;
    margin: 0 7px 15px;
    border: 1px solid #dddddd;
    overflow: hidden;
    transition: box-shadow 0.2s ease;
}

.postingsTable-tile > tbody > tr:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

@media (min-width: 1800px) {
    .postingsTable-tile > tbody > tr {
        width: calc(100% * (1 / 4) - 14px - 2px);
        max-width: calc(100% * (1 / 4) - 14px - 2px);
    }
}

@media (max-width: 979px) {
    .postingsTable-tile > tbody > tr {
        width: calc(100% * (1 / 2) - 14px - 2px);
        max-width: calc(100% * (1 / 2) - 14px - 2px);
    }
}

@media (max-width: 767px) {
    .postingsTable-tile > tbody > tr {
        width: calc(100% - 14px - 2px);
        max-width: calc(100% - 14px - 2px);
    }
}

.postingsTable-tile > tbody > tr > td {
    position: absolute;
    display: block;
    border: none;
    background: none;
    max-width: none !important;
}

.postingsTable-tile.table-striped tbody > tr:nth-child(odd) > td,
.postingsTable-tile.table-striped tbody > tr:nth-child(odd) > th {
    background: none;
}

.postingsTable-tile.table-hover tbody tr:hover > td {
    background: none;
}

.postingsTable-tile > tbody > tr > td:hover {
    background: none;
}

/* posting btns */
.postingsTable-tile > tbody > tr > td:nth-child(1) {
    position: absolute;
    width: 100% !important;
    height: 50px;
    padding: 8px 20px 0;
    border-top: 1px solid #dddddd;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
    vertical-align: middle;
}

.postingsTable-tile.table-striped tbody > tr:nth-child(odd) > td:nth-child(1) {
    background: #f9f9f9;
}

.postingsTable-tile > tbody > tr:hover > td:nth-child(1) {
    background: #f9f9f9;
}

.postingsTable-tile > tbody > tr > td:nth-child(1) > a.btn {
    display: inline-block;
    float: left;
    width: 30%;
    margin-right: 5px;
}

/* status */
.postingsTable-tile > tbody > tr > td:nth-child(2) {
    top: 12px;
    right: 20px;
    width: auto !important;
    font-size: 10px;
}

/* id */
.postingsTable-tile > tbody > tr > td:nth-child(3) {
    top: 12px;
    left: 20px;
    width: auto !important;
    font-size: 10px;
    color: #aaa;
}

.postingsTable-tile > tbody > tr > td:nth-child(3):before {
    content: '# ';
}

/* title */
.postingsTable-tile > tbody > tr > td:nth-child(4) {
    top: 34px;
    left: 20px;
    right: 20px;
    padding-right: 15px;
    width: auto !important;
    font-size: 18px;
    white-space: nowrap !important;
    overflow: visible;
    text-overflow: ellipsis;
}

.postingsTable-tile > tbody > tr > td:nth-child(4) a.modal-show-link {
    font-size: 18px;
    right: -15px;
}

.postingsTable-tile > tbody > tr > span.label.new-tag {
    position: absolute;
    display: block;
    top: 7px;
    right: -19px;
    border-radius: 0;
    font-size: 12px;
    padding: 1px 20px;
    transform: rotate(45deg);
}

/* org */
.postingsTable-tile > tbody > tr > td:nth-child(5) {
    top: 57px;
    left: 20px;
    right: 20px;
    width: auto !important;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.postingsTable-tile > tbody > tr > td:nth-child(5) > span.division {
    color: #aaa;
}

.postingsTable-tile > tbody > tr > td:nth-child(5) > span.division > i {
    margin-left: 4px;
    margin-right: 4px;
}

/* division */
.postingsTable-tile > tbody > tr > td:nth-child(6) {
    display: none;
}

/* postings-coop */
/* apply btns */
.postings-coop .postingsTable > tbody > tr > td:first-child,
.postings-coop .postingsTable > thead > tr > th:first-child {
    width: 10%
}

/* app stat */
.postings-coop .postingsTable > tbody > tr > td:nth-child(2),
.postings-coop .postingsTable > thead > tr > th:nth-child(2) {
    width: 5%
}

/* id */
.postings-coop .postingsTable > tbody > tr > td:nth-child(3),
.postings-coop .postingsTable > thead > tr > th:nth-child(3) {
    width: 5%
}

/* job title */
.postings-coop .postingsTable > tbody > tr > td:nth-child(4),
.postings-coop .postingsTable > thead > tr > th:nth-child(4) {
    width: 30%
}

/* organization */
.postings-coop .postingsTable > tbody > tr > td:nth-child(5),
.postings-coop .postingsTable > thead > tr > th:nth-child(5) {
    width: 18%
}

/* division */
.postings-coop .postingsTable > tbody > tr > td:nth-child(6),
.postings-coop .postingsTable > thead > tr > th:nth-child(6) {
    width: 14%
}

/* openings */
.postings-coop .postingsTable > tbody > tr > td:nth-child(7),
.postings-coop .postingsTable > thead > tr > th:nth-child(7) {
    width: 5%
}

/* int stat */
.postings-coop .postingsTable > tbody > tr > td:nth-child(8),
.postings-coop .postingsTable > thead > tr > th:nth-child(8) {
    width: 10%
}

/* city */
.postings-coop .postingsTable > tbody > tr > td:nth-child(9),
.postings-coop .postingsTable > thead > tr > th:nth-child(9) {
    width: 8%
}

/* level */
.postings-coop .postingsTable > tbody > tr > td:nth-child(10),
.postings-coop .postingsTable > thead > tr > th:nth-child(10) {
    width: 10%
}

/* apps */
.postings-coop .postingsTable > tbody > tr > td:nth-child(11),
.postings-coop .postingsTable > thead > tr > th:nth-child(11) {
    width: 4%
}

/* deadline */
.postings-coop .postingsTable > tbody > tr > td:nth-child(12),
.postings-coop .postingsTable > thead > tr > th:nth-child(12) {
    width: 8%
}

/* del btn */
.postings-coop .postingsTable > tbody > tr > td:last-child,
.postings-coop .postingsTable > thead > tr > th:last-child {
    width: 4%
}

/* ======= tile ======= */
.postings-coop .postingsTable-tile > thead > tr > th:nth-child(1),
.postings-coop .postingsTable-tile > thead > tr > th:nth-child(2),
.postings-coop .postingsTable-tile > thead > tr > th:last-child {
    display: none;
}

/* open */
.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(7) {
    top: 95px;
    left: 70px;
    color: #aaa;
    width: auto;
}

.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(7):before {
    content: '\f015';
    padding-right: 4px;
    font-family: FontAwesome;
}

.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(7):after {
    /*content: ' Opens';*/
}

/* int stat */
.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(8) {
    top: 12px;
    left: 70px;
    width: auto;
    font-size: 10px;
    color: #aaa;
}

/* city */
.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(9) {
    top: 95px;
    left: 130px;
    color: #aaa;
    width: auto;
}

.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(9):before {
    content: '\f041';
    padding-right: 5px;
    font-family: FontAwesome;
}

/* level */
.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(10) {
    top: 114px;
    left: 126px;
    color: #aaa;
    width: auto;
}

.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(10):before {
    content: '\f0fc';
    padding-right: 5px;
    font-family: FontAwesome;
}

/* apps */
.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(11) {
    top: 95px;
    left: 20px;
    color: #aaa;
    width: auto;
}

.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(11):before {
    content: '\f007';
    padding-right: 4px;
    font-family: FontAwesome;
}

.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(11):after {
    /*content: ' Apps';*/
}

/* deadline */
.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(12) {
    top: 114px;
    left: 20px;
    color: #aaa;
    width: auto;
}

.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(12):before {
    content: '\f017';
    padding-right: 4px;
    font-family: FontAwesome;
}

/* not interested */
.postings-coop .postingsTable-tile > tbody > tr > td:nth-child(13) {
    position: absolute;
    right: 15px;
    bottom: 13px;
    text-align: right !important;
    width: 30%;
}

/* postings-grad */
/* apply btns */
.postings-grad .postingsTable > tbody > tr > td:first-child,
.postings-grad .postingsTable > thead > tr > th:first-child {
    width: 10%
}

/* app stat */
.postings-grad .postingsTable > tbody > tr > td:nth-child(2),
.postings-grad .postingsTable > thead > tr > th:nth-child(2) {
    width: 8%
}

/* id */
.postings-grad .postingsTable > tbody > tr > td:nth-child(3),
.postings-grad .postingsTable > thead > tr > th:nth-child(3) {
    width: 8%
}

/* job title */
.postings-grad .postingsTable > tbody > tr > td:nth-child(4),
.postings-grad .postingsTable > thead > tr > th:nth-child(4) {
    width: 35%
}

/* organization */
.postings-grad .postingsTable > tbody > tr > td:nth-child(5),
.postings-grad .postingsTable > thead > tr > th:nth-child(5) {
    width: 20%
}

/* division */
.postings-grad .postingsTable > tbody > tr > td:nth-child(6),
.postings-grad .postingsTable > thead > tr > th:nth-child(6) {
    width: 15%
}

/* pos type */
.postings-grad .postingsTable > tbody > tr > td:nth-child(7),
.postings-grad .postingsTable > thead > tr > th:nth-child(7) {
    width: 10%
}

/* int stat */
.postings-grad .postingsTable > tbody > tr > td:nth-child(8),
.postings-grad .postingsTable > thead > tr > th:nth-child(8) {
    width: 12%
}

/* deadline */
.postings-grad .postingsTable > tbody > tr > td:nth-child(9),
.postings-grad .postingsTable > thead > tr > th:nth-child(9) {
    width: 8%
}

/* del btn */
.postings-grad .postingsTable > tbody > tr > td:last-child,
.postings-grad .postingsTable > thead > tr > th:last-child {
    width: 6%
}

/* ======= tile ======= */
.postings-grad .postingsTable-tile > thead > tr > th:nth-child(1),
.postings-grad .postingsTable-tile > thead > tr > th:nth-child(2),
.postings-grad .postingsTable-tile > thead > tr > th:last-child {
    display: none;
}

.postings-grad .postingsTable-tile > tbody > tr {
    height: 180px;
}

/* type */
.postings-grad .postingsTable-tile > tbody > tr > td:nth-child(7) {
    top: 90px;
    left: 120px;
    color: #aaa;
    width: auto;
}

.postings-grad .postingsTable-tile > tbody > tr > td:nth-child(7):before {
    content: '\f114';
    padding-right: 4px;
    font-family: FontAwesome;
}

/* int stat */
.postings-grad .postingsTable-tile > tbody > tr > td:nth-child(8) {
    top: 12px;
    left: 70px;
    width: auto;
    font-size: 10px;
    color: #aaa;
}

/* deadline */
.postings-grad .postingsTable-tile > tbody > tr > td:nth-child(9) {
    top: 90px;
    left: 20px;
    color: #aaa;
    width: auto;
}

.postings-grad .postingsTable-tile > tbody > tr > td:nth-child(9):before {
    content: '\f017';
    padding-right: 4px;
    font-family: FontAwesome;
}

/* not interested */
.postings-grad .postingsTable-tile > tbody > tr > td:nth-child(10) {
    position: absolute;
    right: 15px;
    bottom: 13px;
    text-align: right !important;
    width: 30%;
}

/* postings-alumni */
/* apply btns */
.postings-alumni .postingsTable > tbody > tr > td:first-child,
.postings-alumni .postingsTable > thead > tr > th:first-child {
    width: 10%
}

/* app stat */
.postings-alumni .postingsTable > tbody > tr > td:nth-child(2),
.postings-alumni .postingsTable > thead > tr > th:nth-child(2) {
    width: 5%
}

/* id */
.postings-alumni .postingsTable > tbody > tr > td:nth-child(3),
.postings-alumni .postingsTable > thead > tr > th:nth-child(3) {
    width: 5%
}

/* job title */
.postings-alumni .postingsTable > tbody > tr > td:nth-child(4),
.postings-alumni .postingsTable > thead > tr > th:nth-child(4) {
    width: 30%
}

/* organization */
.postings-alumni .postingsTable > tbody > tr > td:nth-child(5),
.postings-alumni .postingsTable > thead > tr > th:nth-child(5) {
    width: 15%
}

/* division */
.postings-alumni .postingsTable > tbody > tr > td:nth-child(6),
.postings-alumni .postingsTable > thead > tr > th:nth-child(6) {
    width: 10%
}

/* pos type */
.postings-alumni .postingsTable > tbody > tr > td:nth-child(7),
.postings-alumni .postingsTable > thead > tr > th:nth-child(7) {
    width: 10%
}

/* int stat */
.postings-alumni .postingsTable > tbody > tr > td:nth-child(8),
.postings-alumni .postingsTable > thead > tr > th:nth-child(8) {
    width: 12%
}

/* location */
.postings-alumni .postingsTable > tbody > tr > td:nth-child(9),
.postings-alumni .postingsTable > thead > tr > th:nth-child(9) {
    width: 12%
}

/* deadline */
.postings-alumni .postingsTable > tbody > tr > td:nth-child(10),
.postings-alumni .postingsTable > thead > tr > th:nth-child(10) {
    width: 8%
}

/* del btn */
.postings-alumni .postingsTable > tbody > tr > td:last-child,
.postings-alumni .postingsTable > thead > tr > th:last-child {
    display: none !important;
}

/* ======= tile ======= */
.postings-alumni .postingsTable-tile > thead > tr > th:nth-child(1),
.postings-alumni .postingsTable-tile > thead > tr > th:nth-child(2) {
    display: none;
}

/* type */
.postings-alumni .postingsTable-tile > tbody > tr > td:nth-child(7) {
    top: 114px;
    left: 20px;
    color: #aaa;
    width: auto;
}

.postings-alumni .postingsTable-tile > tbody > tr > td:nth-child(7):before {
    content: '\f114';
    padding-right: 5px;
    font-family: FontAwesome;
}

/* int stat */
.postings-alumni .postingsTable-tile > tbody > tr > td:nth-child(8) {
    top: 12px;
    left: 70px;
    width: auto;
    font-size: 10px;
    color: #aaa;
}

/* location */
.postings-alumni .postingsTable-tile > tbody > tr > td:nth-child(9) {
    top: 95px;
    left: 120px;
    color: #aaa;
    width: auto;
}

.postings-alumni .postingsTable-tile > tbody > tr > td:nth-child(9):before {
    content: '\f041';
    padding-right: 5px;
    font-family: FontAwesome;
}

/* deadline */
.postings-alumni .postingsTable-tile > tbody > tr > td:nth-child(10) {
    top: 95px;
    left: 20px;
    color: #aaa;
    width: auto;
}

.postings-alumni .postingsTable-tile > tbody > tr > td:nth-child(10):before {
    content: '\f017';
    padding-right: 4px;
    font-family: FontAwesome;
}

/* application table */
.applicationGrid table thead, .applicationGrid table thead td, .applicationGrid table thead th {
    background-color: transparent !important;
}

.applicationGrid table thead th.shortenedColumn span, .applicationGrid table tbody td.shortenedColumn span {
    max-width: none !important;
    min-width: 150px !important;
    width: auto !important;
}

.applicationGrid .gridBox {
    max-height: none;
}