html {
    --color-citrus-plus: #f9ce93;
    --color-citrus: #e6bc85;
    --color-citrus-minus: #b1855f;
    --color-citrus-plain: #d2a66f;
    --color-citrus-o-75: #e6bc85bf;
    --color-red-plus: #d67871;
    --color-red: #ab4c3e;
    --color-red-minus: #9b3c35;
    --color-green-plus: #73a973;
    --color-green: #3f7b3f;
    --color-green-minus: #3c783c;
    --color-blue-plus: #68acbf;
    --color-blue: #45798c;
    --color-blue-minus: #347187;
    --color-mine-plus: #555;
    --color-mine: #333;
    --color-mine-minus: #111;

    --sidebar-bg-color: #1f1f1f;
    --sidebar-bg-color-hover: #2a2a2a;
    --sidebar-text-color: #aaa;
    --sidebar-text-color-hover: #e6bc85;
    --sidebar-text-color-active: #1f1f1f;

    --btn-default-text-color: #1f1f1f;
    --btn-default-bg-color-plus: #999;
    --btn-default-bg-color: #666;
    --btn-inverse-text-color: #ddd;
    --btn-text-color: #1f1f1f;

    --default-bg-color: #121212;
    --default-text-color: #ddd;

    --footer-bg-color: #1f1f1f;
}

/* navbar */
.orbisModuleHeader h1, .orbisModuleHeader h2, .orbisModuleHeader h3, .orbisModuleHeader h4, .orbisModuleHeader h5, .orbisModuleHeader h6 {
    color: #ddd;
}

.orbisModuleHeader .orbisModuleHeader_title {
    margin-top: 0;
}

.orbisModuleHeader hr {
    border-color: #3e3e3e;
    border-bottom: none;
    background: transparent;
}

.navbar-inverse .brand img {
    filter: none !important;
}

/* nav tabs */
.nav-tabs.nav-stacked {
    background-color: rgba(255, 255, 255, 0.05);
}

.nav-tabs.nav-stacked > li > a {
    border: none;
}

.nav-tabs.nav-stacked {
    border: none;
}

.nav-tabs.nav-stacked > li > a:hover {
    border: none;
}

.orbisModuleTabs {
    background: #1f1f1f;
    border: none;
}

.orbisModuleTabs .nav-tabs > li > a {
    background: transparent;
    color: #aaa;
}

.orbisModuleTabs .nav-tabs > li > a:hover {
    background: #3e3e3e;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #ddd;
}

/* nav pills */
.nav > li > a {
    transition: all 0.2s ease;
    color: #aaa;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: var(--color-citrus);
    background-color: #3e3e3e;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    color: #1f1f1f;
}

/* box */
.box,
.orbisTabContainer .tab-content {
    background: #1f1f1f;
    color: #ddd;
}

/* panel */
.panel {
    background: #282828
}

.panel-default {
    border-color: #282828;
}

.panel-default > .panel-heading {
    color: #ddd;
    background: #363636;
    border-color: #363636;
}

.panel-success {
    border-color: rgba(0, 0, 0, 0);
}

.panel-success > .panel-heading {
    color: #ddd;
    background-color: #425648;
    border-color: rgba(0, 0, 0, 0);
}

.panel-primary {
    border-color: rgba(0, 0, 0, 0);
}

.panel-primary > .panel-heading {
    color: #ddd;
    background-color: #426b8f;
    border-color: rgba(0, 0, 0, 0);
}

.panel-info {
    border-color: rgba(0, 0, 0, 0);
}

.panel-info > .panel-heading {
    color: #ddd;
    background-color: #51697a;
    border-color: rgba(0, 0, 0, 0);
}

.panel-warning {
    border-color: rgba(0, 0, 0, 0);
}

.panel-warning > .panel-heading {
    color: #ddd;
    background-color: #6d674a;
    border-color: rgba(0, 0, 0, 0);
}

.panel-danger {
    border-color: rgba(0, 0, 0, 0);
}

.panel-danger > .panel-heading {
    color: #ddd;
    background-color: #623c3c;
    border-color: rgba(0, 0, 0, 0);
}

.dashboard-home .panel .panel .panel-heading {
    background: #363636;
    color: #ddd;
}

/* hr */
hr {
    border-top-color: #3e3e3e;
    border-bottom-color: transparent;
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: var(--color-citrus);
}

/* btn */
.btn {
    text-shadow: none !important;
}

input.btn:hover {
    filter: brightness(1.15);
}

.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
    background: none;
    border-color: #3e3e3e;
}

.postingsTable .btn.btn-success:before {
    background-color: var(--color-citrus);
    background-image: linear-gradient(to right, var(--color-citrus-minus) 0%, var(--color-citrus) 50%, var(--color-citrus-minus) 100%);
}

.postingsTable .btn {
    opacity: 0.8;
}

/* table */
.table {
    background-color: transparent;
}

.table-bordered,
.table-bordered th, .table-bordered td,
.stat-table td {
    border-color: rgba(255, 255, 255, 0.15);
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-hover tbody tr:hover > td {
    background-color: rgba(255, 255, 255, 0.1);
}

.stat-table .full {
    color: #ddd;
}

.gridTable > thead, .gridTable > thead th, .gridTable > thead td, .gridTable .gridChecks {
    background-color: #363636 !important;
}

.orbisTableSorter_desc, .orbisTableSorter_asc {
    border-bottom-color: var(--color-citrus) !important;
}

/* form */
.form-actions {
    background: #393939;
    border-top: none;
}

/* alert */
.alert, .alert-block, .alert-error, .alert-success, .alert-info, .alert h4, .alert-block h4, .alert-error h4, .alert-success h4, .alert-info h4 {
    color: #ddd;
    text-shadow: none;
}

.alert a > span {
    color: var(--color-citrus) !important;
}

.alert {
    background-color: #325465;
    border-color: #325465;
}

.alert-info {
    background-color: #325465;
    border-color: #325465;
}

.alert-success {
    background-color: #3c624f;
    border-color: #3c624f
}

.alert-danger, .alert-error {
    background-color: #623c3c;
    border-color: #623c3c
}

/* label & badge */
.label, .badge {
    color: #ddd;
    text-shadow: none;
    background-color: #3e3e3e
}

.label-important, .badge-important,
.label-important[href], .badge-important[href] {
    background-color: #87322c
}

.label-warning, .badge-warning,
.label-warning[href], .badge-warning[href] {
    background-color: #874f04
}

.label-success, .badge-success,
.label-success[href], .badge-success[href] {
    background-color: #397339
}

.label-info, .badge-info,
.label-info[href], .badge-info[href] {
    color: #1f1f1f;
    background-color: var(--color-citrus-plain)
}

.label-inverse, .badge-inverse,
.label-inverse[href], .badge-inverse[href] {
    background-color: #555;
}

/* drop down */
.dropdown-menu {
    background: #282828;
    border: none;
}

.dropdown-menu li a {
    color: #ddd;
    background: #282828;
    border: none;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background: #3e3e3e !important;
    color: #ddd;
}

.dropdown-menu .active > a {
    background: #3e3e3e !important;
}

.dropdown-toggle:hover .caret {
    border-top-color: #ddd;
    border-bottom-color: #ddd;
}

/* select & input & scrollbar*/
input[type="text"], input[type="password"], input[type="file"] {
    border-color: #3e3e3e !important;
    background: #1f1f1f;
    color: #aaa;
    transition: background .2s ease, color .2s ease, border .2s ease, height .2s ease !important;
}

input:focus, input:hover {
    box-shadow: none !important;
    border-color: var(--color-citrus-plain) !important;
    color: #ddd;
}

select {
    color: #aaa;
    background: #1f1f1f;
    border-color: #3e3e3e !important;
    transition: background .2s ease, color .2s ease, border .2s ease, height .2s ease !important;
}

select:focus, select:hover {
    box-shadow: none !important;
    border-color: var(--color-citrus-plain) !important;
    color: #ddd !important;
}

div.checkboxGroup {
    border: 1px solid #3e3e3e;
}

div.checkboxGroup div.checkboxGroupHeader {
    background-color: #363636;
}

.boxTitle {
    border-color: rgba(0, 0, 0, 0);
    color: #ddd;
    background: #363636;
}

/* pager */
.pager {
    opacity: 1;
}

.pager li > a, .pager li > span {
    background: #3e3e3e;
    border-color: #3e3e3e;
    color: #ddd;
    transition: background 0.2s ease, border 0.2s ease !important;
}

.pager li > a:hover, .pager li > span:hover,
.pager li > a:focus, .pager li > span:focus,
.pager li > a:active, .pager li > span:active {
    background: #515151;
    border-color: #515151;
    color: #ddd;
}

/* modal */
.modal {
    background: #282828;
}

.modal .modal-header {
    background: #363636;
    border: none;
    border-radius: 6px 6px 0 0;
}

.modal .modal-body {
    border: none;
}

.modal .modal-footer {
    background: #363636;
    border: none;
    box-shadow: none;
}

.close {
    opacity: 0.5;
    color: #ddd;
    text-shadow: none;
}

/* popup modal */
.modal-posting-actions {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

/* pagination */
.orbis-posting-actions-float:last-child {
    border: none;
    background: #1f1f1f;
}

.pagination ul > li > a, .pagination ul > li > span {
    background: #3e3e3e;
    color: #aaa;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    color: #1f1f1f;
    background: var(--color-citrus-plain);
}

/* action btn floating */
.orbis-posting-actions-btn-float {
    border: none;
    background: #1f1f1f;
}

/* Contextmenu */
.azure-contextmenu > ul {
    background: #282828;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.azure-contextmenu > ul > li > a, .azure-contextmenu > ul > li > a:visited {
    color: #ddd;
}

.azure-contextmenu > ul > li > a:hover, .azure-contextmenu > ul > li > a:active {
    background: #3e3e3e;
}

.azure-contextmenu > ul > li > hr {
    border-top: 1px solid #3e3e3e;
}

/* date picker */
.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover {
    background: #555;
    color: #ddd;
}

.bootstrap-datetimepicker-widget thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover,
.bootstrap-datetimepicker-widget td span:hover {
    background: #555;
}

.bootstrap-datetimepicker-widget:after {
    border-bottom-color: #555;
}

/* scroll bar */
*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

.topScrollBox {
    height: 12px !important;
}

*::-webkit-scrollbar:vertical,
.grid_topScrollBox::-webkit-scrollbar:vertical, .gridBox::-webkit-scrollbar:vertical,
.topScrollBox::-webkit-scrollbar:vertical {
    width: 12px !important;
}

*::-webkit-scrollbar:horizontal,
.grid_topScrollBox::-webkit-scrollbar:horizontal, .gridBox::-webkit-scrollbar:horizontal,
.topScrollBox::-webkit-scrollbar:horizontal {
    height: 12px !important;
}

*::-webkit-scrollbar-track,
.grid_topScrollBox::-webkit-scrollbar-track, .gridBox::-webkit-scrollbar-track,
.topScrollBox::-webkit-scrollbar-track {
    background: #1f1f1f !important;
}

*::-webkit-scrollbar-thumb,
.grid_topScrollBox::-webkit-scrollbar-thumb, .gridBox::-webkit-scrollbar-thumb,
.topScrollBox::-webkit-scrollbar-thumb {
    background: #3e3e3e !important;
    border: 2px solid #1f1f1f !important;
    border-radius: 12px !important;
}

*::-webkit-scrollbar-thumb:hover,
.grid_topScrollBox::-webkit-scrollbar-thumb:hover, .gridBox::-webkit-scrollbar-thumb:hover,
.topScrollBox::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #3e3e3e #1f1f1f;
}

#closeNav {
    scrollbar-width: none !important;
}

#closeNav::-webkit-scrollbar {
    width: 0 !important;
}

/* block quote */
blockquote {
    border-color: #555;
}

/* thumbnail */
.thumbnail {
    border-color: #555;
}

/* images */
img {
    filter: brightness(0.8);
}

/* back to top */
.azure-back-to-top {
    background: rgba(100, 100, 100, 0.3);
}

.azure-back-to-top:hover {
    background: rgba(100, 100, 100, 0.6);
}

/* upcoming events */
.azure-upcoming-events .stat-table > thead {
    background: #363636;
}

.azure-upcoming-events .stat-table tbody + tbody {
    border-top: 1px solid #3e3e3e;
}

/* =============== postings =============== */
/* thead bg */
.postingsTable > thead,
.orbisTableHeader {
    background-color: #363636 !important;
}

/* border */
.postingsTable, .postingsTable tr, .postingsTable td, .postingsTable th {
    border: none !important;
}

/* combined */
.postingsTable > tbody > tr > td:nth-child(4) a {
    color: #ddd !important;
    font-weight: bold;
}

.postingsTable > tbody > tr > td:nth-child(4) strong a {
    color: var(--color-citrus) !important;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > .organization {
    color: #aaa !important;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > .division {
    color: #666 !important;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > i {
    color: #666 !important;
}

/* =============== Message =============== */
#dashboard_userCommonMyMessages_processing img {
    opacity: 0.8 !important;
}

.myMessageTable,
.myMessageTable th, .myMessageTable td {
    border: none !important;
}

/*posting details*/
.azure-keyword-highlight {
    border: 1px solid var(--color-citrus-plain);
    background: var(--color-citrus-plain);
    color: #1f1f1f;
}

/* batch */
.azure-batch-container li:hover {
    background: rgba(230, 188, 133, 0.2);
}

.azure-batch-container li.active {
    background: rgba(230, 188, 133, 0.2);
}

.azure-batch-container li:active {
    background: rgba(230, 188, 133, 0.4);
}

/* posting table tile */
.postingsTable-tile {
    background: none !important;
}

.postingsTable-tile > tbody > tr {
    background: #282828;
}

.postingsTable-tile > tbody > tr:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5) !important;
}

.postingsTable-tile > tbody > tr > td:nth-child(1) {
    background: #363636 !important;
    border-top-color: #ddd !important;
}

.postingsTable-tile > tbody > tr > span.label.new-tag {
    background: var(--color-citrus-plain) !important;
    color: #1f1f1f !important;
    border: none !important;
}

.postingsTable-tile > tbody > tr > td:nth-child(5) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
}

.postingsTable-tile > tbody > tr > td:nth-child(5) > span.division {
    color: #777 !important;
}

.postingsTable-tile.table-header-fixed {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) !important;
}

/* appointment intro */
.azure-appt-intro-expand-btn {
    background: #3e3e3e;
    color: #ccc;
    border-top: 1px solid #3e3e3e;
}

.azure-appt-intro-expand-btn:hover {
    background: #555;
}

.azure-appt-intro-collapse-btn {
    background: #1f1f1f;
    color: #ccc;
    border-top: 1px solid #3e3e3e;
}

.azure-appt-intro-collapse-btn:hover {
    background: #3e3e3e;
}

.azure-appt-type-auto-hide div:last-child:before {
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0) 0%, rgb(31, 31, 31) 100%);
}

.azure-appt-home-navigation > tbody > tr {
    background: #282828;
    border: none;
}

.azure-appt-home-navigation > tbody > tr img {
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: screen;
}

.azure-appt-home-navigation > tbody > tr:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.azure-appt-home-navigation > tbody > tr > td:last-child span {
    color: #aaa;
}

/* cca events */
.sidebar--fixed--right {
    background: #282828;
}

.sidebar--fixed--right__title {
    color: #ddd;
}

.sidebar--btn--close {
    background: none;
    border: 1px solid #aaa;
    color: #aaa !important;
}

div#eventTooltip {
    border-color: #3e3e3e;
    background-color: #282828;
}

.fc-widget-header, .fc-widget-content {
    border-color: #3e3e3e;
}

.fc-state-highlight {
    background: #363636;
}
