html {
    --color-citrus-plus: #ffc234;
    --color-citrus: #f4ad24;
    --color-citrus-minus: #f49524;
    --color-citrus-o-75: #f4ad24bf;
    --color-red-plus: #ff5e52;
    --color-red: #d83327;
    --color-red-minus: #b0352e;
    --color-green-plus: #68c568;
    --color-green: #3cab3c;
    --color-green-minus: #388838;
    --color-blue-plus: #5dcbea;
    --color-blue: #31a7ca;
    --color-blue-minus: #267593;
    --color-mine-plus: #444;
    --color-mine: #111;
    --color-mine-minus: #000;

    --sidebar-bg-color: #232a34;
    --sidebar-bg-color-hover: #2e353e;
    --sidebar-text-color: #606978;
    --sidebar-text-color-hover: #fff;
    --sidebar-text-color-active: #fff;

    --btn-default-text-color: #666;
    --btn-default-bg-color-plus: #f5f5f5;
    --btn-default-bg-color: #eee;
    --btn-inverse-text-color: #fff;
    --btn-text-color: #fff;

    --default-bg-color: #fafafa;
    --default-text-color: #333c4e;

    --footer-bg-color: #1f2229;
}

::selection {
    background: var(--color-citrus);
    color: #fff;
}

::-moz-selection {
    background: var(--color-citrus-o-75);
    color: #fff;
}

body {
    background: var(--default-bg-color);
    color: var(--default-text-color);
    overflow-x: hidden;
    padding-bottom: 70px !important;
}

@media (min-width: 980px) {
    body {
        padding-top: 5px !important;
    }
}

a, a:hover, a:active, a:focus, a:visited, ins {
    color: var(--color-citrus);
}

/*input*/
input[type="text"], input[type="password"], input[type="file"] {
    box-shadow: 0 0 0 transparent !important;
    outline: none !important;
    border: 1px solid #ccc !important;
    transition: box-shadow 0.2s ease, border 0.2s ease !important;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    box-shadow: 0 1px 4px var(--color-citrus) !important;
    outline: none !important;
    border-color: var(--color-citrus) !important;
}

select {
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

select:focus {
    box-shadow: 0 1px 4px var(--color-citrus) !important;
    outline: none !important;
    border-color: var(--color-citrus) !important;
}

/* Dropdown menu */

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: var(--color-citrus);
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background: var(--color-citrus) !important;
}

.dropdown-menu {
    border: none;
}

/* Buttons */
.button {
    border-radius: 30px !important;
    text-shadow: none;
    background-color: var(--color-citrus) !important;
    border: 1px solid var(--color-citrus) !important;
    box-shadow: none !important;
    color: #fff !important;
    text-decoration: none !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.button:hover, .button:focus, .button:active {
    background-color: var(--color-citrus-plus) !important;
    border-color: var(--color-citrus-plus) !important;
}

.btn {
    position: relative !important;

    background: none !important;
    border: none !important;

    color: var(--btn-default-text-color);

    border-radius: 50px !important;
    font-weight: 600 !important;
    text-shadow: none;
    text-decoration: none !important;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease, filter 0.2s ease !important;
    z-index: 1 !important;

    font-size: 12px;
}

.btn-primary, .btn-danger, .btn-success, .btn-info {
    color: var(--btn-text-color);
}

.btn:hover, .btn:active, .btn:focus, .btn:visited,
input.btn:hover, input.btn:active, input.btn:focus, input.btn:visited {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.btn:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--btn-default-bg-color);
    background-image: linear-gradient(to right, var(--btn-default-bg-color) 0%, var(--btn-default-bg-color-plus) 50%, var(--btn-default-bg-color) 100%);

    background-position: -100% 0;
    background-size: 200% 100%;

    transition: background 0.2s ease;

    z-index: -1;
}

.btn:hover:before {
    background-position: -200% 0;
}

input.btn {
    background-color: var(--btn-default-bg-color);
    background-image: linear-gradient(to right, var(--btn-default-bg-color-plus) 0%, var(--btn-default-bg-color) 100%) !important;
    background-position: left top;
}

input.btn:hover {
    filter: brightness(1.1);
}

.btn-large {
    padding: 8px 20px;
    font-size: 16px;
}

.btn-small {
    padding: 4px 14px;
    font-size: 12px;
}

.btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
}

.btn-primary, .btn-danger, .btn-success, .btn-info {
    color: var(--btn-text-color) !important;
}

.btn-primary:before {
    background-color: var(--color-citrus);
    background-image: linear-gradient(to right, var(--color-citrus-minus) 0%, var(--color-citrus) 50%, var(--color-citrus-minus) 100%);
}

input.btn-primary {
    background-color: var(--color-citrus);
    background-image: linear-gradient(to right, var(--color-citrus) 0%, var(--color-citrus-minus) 100%) !important;
    background-position: left top;
}

.btn-danger:before {
    background-color: var(--color-red-plus);
    background-image: linear-gradient(to right, var(--color-red) 0%, var(--color-red-plus) 50%, var(--color-red) 100%);
}

input.btn-danger {
    background-color: var(--color-red-plus);
    background-image: linear-gradient(to right, var(--color-red-plus) 0%, var(--color-red) 100%) !important;
}

.btn-success:before {
    background-color: var(--color-green-plus);
    background-image: linear-gradient(to right, var(--color-green) 0%, var(--color-green-plus) 50%, var(--color-green) 100%);
}

input.btn-success {
    background-color: var(--color-green-plus);
    background-image: linear-gradient(to right, var(--color-green-plus) 0%, var(--color-green) 100%) !important;
}

.btn-info:before {
    background-color: var(--color-blue-plus);
    background-image: linear-gradient(to right, var(--color-blue) 0%, var(--color-blue-plus) 50%, var(--color-blue) 100%);
}

input.btn-info {
    background: var(--color-blue-plus);
    background: linear-gradient(to right, var(--color-blue-plus) 0%, var(--color-blue) 100%) !important;
}

.btn.btn-inverse {
    color: var(--btn-inverse-text-color) !important;
}

.btn-inverse:before {
    color: var(--btn-inverse-text-color) !important;
    background-color: var(--color-mine);
    background-image: linear-gradient(to right, var(--color-mine) 0%, var(--color-mine-plus) 50%, var(--color-mine) 100%);
}

input.btn-inverse {
    color: var(--btn-inverse-text-color) !important;
    background: var(--color-mine-plus);
    background: linear-gradient(to right, var(--color-mine-plus) 0%, var(--color-mine) 100%) !important;
}

/*panel*/
.panel {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel .panel-heading {
    border-radius: 10px 10px 0 0;
    border-color: transparent;
}

.panel .panel-heading strong, .panel .panel-heading b {
    font-weight: normal;
}

.dashboard-home .panel .panel {
    margin: 0 -15px !important;
    box-shadow: none;
    border-radius: 0;
    border: none;
}

.dashboard-home .panel .panel .panel-heading {
    background: #f5f5f5;
    color: #333;
    border-bottom: none;
    border-radius: 0;
}

/*header*/
.navbar .brand {
    top: 0;
}

@media (min-width: 980px) {

    .nav--branding {
        width: 160px;
        box-sizing: border-box;
    }

    .nav--branding .navbar-inner {
        text-align: center;
        background: var(--sidebar-bg-color);
        border: none;
        box-shadow: none;
        padding: 0;
        box-sizing: border-box;
    }

    .navbar-inverse .brand, .navbar-inverse .brand:visited {
        float: none;
        margin: auto;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0;
        line-height: 70px;
        /*font-size: 50px;*/
        color: #fff;
        transition: background 0.2s ease;
        /*background: rgba(255, 255, 255, 0.02);*/
    }

    .navbar-inverse .brand:hover {
        background: rgba(255, 255, 255, 0.05);
    }

    .navbar-inverse .brand img {
        width: 45px;
        height: 36px;
        margin-top: 0;

        transition: filter 0.2s ease;
    }

    .navbar-inverse .brand:hover img {
        filter: brightness(1.2);
    }

}

@media (max-width: 979px) {
    .navbar .brand {
        top: 0;
    }

    .navbar-inverse {
        text-align: center;
    }

    .navbar-inverse .brand {
        width: 80px;
        max-width: none;
        height: 40px;
        margin: 0 auto;
        padding: 0;
        float: none;
    }

    .navbar-inverse .brand img {
        margin-top: 4px;
        width: auto;
        height: 36px;
    }

    .nav--admin .btn-navbar {
        position: fixed !important;
    }

    .nav--admin .btn-navbar::before {
        display: none;
    }

    .navbar .btn-navbar .icon-bar {
        background-color: #666;
    }
}

@media (max-width: 979px) {
    .sidebar-nav .nav-list > .active > a, .sidebar-nav .nav-list > .active > a:hover {
        color: #fff !important;
        background: var(--color-citrus) !important;
        background: linear-gradient(to right, var(--color-citrus) 0%, var(--color-citrus-minus) 100%) !important;
    }

    .sidebar-nav ul[class^="childMenu"].nav-list > .active > a,
    .sidebar-nav ul[class^="childMenu"].nav-list > .active > a:hover {
        color: var(--color-citrus) !important;
        background: none !important;
    }
}

@media (min-width: 980px) {
    .citrus-banner {
        position: absolute;
        left: 160px;
        top: 0;
        right: 0;
        height: 70px;
        background: var(--sidebar-bg-color);
        overflow: hidden;
        z-index: -1;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .orbisModuleHeader {
        padding-top: 0;
    }

    .orbisModuleHeader h1 {
        margin-top: 10px;
        margin-bottom: 30px;
        font-weight: normal;
        color: #fff;
        /*overflow: hidden;*/
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .orbisModuleHeader h5 {
        margin-top: 40px;
        color: var(--default-text-color);
        font-weight: normal;
    }
}

#userImageDiv {
    margin-top: 0;
}

#userImageDiv img {
    max-width: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

@media (min-width: 980px) {
    .orbisModuleTabs {
        background: #fff;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .orbisTabContainer .nav-tabs {
        display: block !important;
    }

    .nav-tabs.nav-stacked {
        border-radius: 15px;
        overflow: hidden;
    }

    .orbisModuleTabs .nav-tabs > li > a {
        border: none;
        height: 50px;
        padding: 0 20px;
        line-height: 50px;
        background: #fff;
        color: #7a7a7a;
        font-weight: 600;
        transition: background 0.2s ease, color .2s ease;
    }

    .orbisModuleTabs .nav-tabs > li > a:hover {
        background: #f6f6f7;
    }

    .orbisModuleTabs .nav-tabs > .active > a, .orbisModuleTabs .nav-tabs > .active > a:hover {
        border: none;
        background: var(--color-citrus);
        background: linear-gradient(to right, var(--color-citrus) 0%, var(--color-citrus-minus) 100%);
        color: var(--btn-text-color);
    }

    .orbisTabContainer .tab-content {
        padding: 20px;
    }
}

@media (max-width: 979px) {
    .orbisTabContainer .tab-content {
        border-radius: 0 15px 15px 15px !important;
    }
}

.orbisTabContainer .tab-content {
    box-shadow: none;
}

.orbisTabContainer .tab-content, .box {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.sidebar-nav .nav-list > li > a > small {
    display: inline-block;
    margin-left: 10px;
    opacity: 0.5;
}

.sidebar-nav > ul > li > a > i {
    margin-right: 5px !important;
}

.azure-hide-sidebar {
    display: none;
}

/*sidebar*/
@media (min-width: 980px) {
    .span2.bs--hide__column {
        position: fixed;
        top: 70px;
        left: 0;
        right: auto;
        background: none;
        width: 160px;
        float: none;
        margin: 0 !important;
        padding: 0 !important;
        bottom: 0;
    }

    .span2.bs--hide__column:before {
        background: var(--sidebar-bg-color);
        top: 70px;
        border: none;
        width: 160px;
        display: block;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .nav--branding .navbar-inner {
        max-height: none !important;
    }

    #closeNav {
        height: 100% !important;
        overflow: auto !important;
        scrollbar-width: none;
    }

    #closeNav::-webkit-scrollbar {
        width: 0;
    }

    .sidebar-nav ul > li {
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }

    .sidebar-nav .nav-list > li > a {
        color: var(--sidebar-text-color);
        margin: 0;
        padding: 20px 0;
        text-align: center;
        text-shadow: none !important;
        transition: color 0.2s ease, background 0.2s ease;
    }

    .sidebar-nav .nav-list > li > a:hover,
    .sidebar-nav .nav-list > li > a:focus {
        color: var(--sidebar-text-color-hover);
        background: var(--sidebar-bg-color-hover);
    }

    .sidebar-nav .nav-list > li > a > small {
        display: block;
        margin: -4px auto 0;
    }

    .sidebar-nav > ul > li > a > i {
        font-size: 20px;
        position: relative;
        display: block !important;
        margin: 2px auto 2px !important;
        width: 100% !important;
    }

    .sidebar-nav ul > li.active > div {
        margin: 0 !important;
    }

    .sidebar-nav > .nav-list > .active > a,
    .sidebar-nav > .nav-list > .active > a:hover,
    .sidebar-nav > .nav-list > .active > a:focus {
        background: var(--color-citrus);
        background: linear-gradient(to right, var(--color-citrus) 0%, var(--color-citrus-minus) 100%);
        color: var(--sidebar-text-color-active);
    }

    .sidebar-nav > .nav-list > .active ul.childMenu1 {
        background: var(--sidebar-bg-color-hover) !important;
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
        /*box-shadow: inset 3px 0 0 0 var(--sidebar-text-color);*/
    }

    .sidebar-nav > .nav-list > .active ul[class^="childMenu"] a {
        padding: 10px 10px 10px 20px !important;
        text-align: left !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: none !important;
        /*border-bottom: 1px solid #3e444a;*/
        border-left: 3px solid rgba(255, 255, 255, 0.15);
    }

    .sidebar-nav > .nav-list > .active ul[class^="childMenu"] a:hover {
        background: rgba(255, 255, 255, 0.05) !important;
        color: var(--sidebar-text-color-hover);
    }

    .sidebar-nav > .nav-list > .active ul[class^="childMenu"] a:before {
        font-family: FontAwesome;
        margin-right: 8px;
    }

    .sidebar-nav > .nav-list > .active ul.childMenu2 a:before {
        content: "\f105";
    }

    .sidebar-nav > .nav-list > .active ul[class^="childMenu"] .active > a {
        color: var(--sidebar-text-color-hover) !important;
    }

    .azure-hide-sidebar {
        position: fixed;
        left: 0;
        bottom: 10px;
        display: block;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        line-height: 40px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        z-index: 1200;
    }

    .azure-hide-sidebar:hover {
        background: rgba(0, 0, 0, 0.3);
    }
}

#mainContentDiv {
    display: block;
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    margin: 0;
}

/*main content*/
@media (min-width: 980px) {
    #mainContentDiv {
        width: auto;
        margin-left: 160px;
        padding: 10px;
    }
}

.nav-pills > li > a {
    color: #666;
    border-radius: 100px;
    transition: background 0.2s ease;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    background-color: #f6f6f6;
    color: #000;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    color: #fff;
    background: var(--color-citrus);
    background: linear-gradient(to right, var(--color-citrus) 0%, var(--color-citrus-minus) 100%);
    border-radius: 100px;
}

/*pagination*/
.pagination ul > li > a, .pagination ul > li > span {
    border-radius: 30px !important;
    border: none !important;
    margin: 0 2px;
    background: #f5f5f5;
    width: 35px;
    height: 35px;
    padding: 0;
    line-height: 35px;
    text-align: center;
}

pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    color: var(--color-citrus);
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background: var(--color-citrus);
    color: #fff;
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    background: none;
}

@media (min-width: 980px) {
    .orbis-posting-actions-float:last-child {
        left: 160px;
    }

    .orbis-posting-actions-btn-float {
        left: 160px;
    }

    .azure-full-width .orbis-posting-actions-btn-float,
    .azure-full-width #mainContentDiv,
    .azure-full-width .orbisFooter {
        margin-left: 0;
    }

    .azure-full-width .bs--hide__column,
    .azure-full-width #brandingNav {
        display: none;
    }

    .azure-full-width .orbis-posting-actions-float:last-child,
    .azure-full-width .citrus-banner {
        left: 0;
    }
}

.orbisFooter {
    right: 0;
    width: auto;
    height: 60px;
    border-top: none;
    background: var(--footer-bg-color);
    color: #ccc;
    overflow: hidden;
}

/* Footer */
@media (min-width: 980px) {
    .orbisFooter {
        margin-left: 160px;
        height: 40px;
    }
}

.footerlink a {
    color: #ccc;
}

/*table*/
.stat-table td {
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

.stat-table tr:last-child td {
    border-bottom: none;
}

.panel .table {
    margin-bottom: 0;
}

table.table-header-fixed {
    /*top: 0;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.azure-contextmenu > ul > li > a:hover, .azure-contextmenu > ul > li > a:active, .azure-contextmenu > ul > li > a:visited {
    color: var(--color-citrus);
}

.label-info, .badge-info {
    background-color: var(--color-citrus);
}

.alert {
    border-radius: 15px;
}

.alert a > span {
    color: var(--color-citrus) !important;
}

/* Hr */
.orbisModuleHeader hr {
    opacity: 0.6;
}

.azure-back-to-top {
    border-radius: 50%;
}

/* Box title */
.boxTitle {
    height: 45px;
    line-height: 45px;
    background: var(--sidebar-bg-color);
    border-color: var(--sidebar-bg-color);
    border-radius: 15px 15px 0 0;
}

/* Checkbox group */
div.checkboxGroup {
    border-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.checkboxGroup div.checkboxGroupBody {
    padding: 10px;
}

div.checkboxGroup div.checkboxGroupHeader {
    background-color: #f7f7f7;
}

div.checkboxGroup div.checkboxGroupHeader td:first-child {
    padding: 10px;
}

div.checkboxGroup div.checkboxGroupHeader label {
    margin-bottom: 0;
}

/* Form table */
table.formTable div.checkboxWidgetHeader {
    background-color: #f7f7f7 !important;
    border-color: #f7f7f7 !important;
    padding: 10px !important;
}

table.formTable div.orbisCheckboxWidget {
    border-color: #f7f7f7 !important;
    padding: 10px !important;
}

table.formTable span.inputContainer {
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

/* Postings */
.postingsTable th, .postingsTable td {
    border-left: none;
}

.postingsTable > tbody > tr > td:nth-child(4) a {
    color: #000;
    font-weight: bold;
}

.postingsTable > tbody > tr > td:nth-child(4) strong a {
    color: var(--color-citrus) !important;
}

.table, .table th, .table td {
    border-color: #eee;
}

.table {
    /*border-left: none;*/
    /*border-right: none;*/
}

.modal {
    border-radius: 15px;
}

.modal-footer {
    border-radius: 0 0 15px 15px;
}

.pager li > a, .pager li > span {
    border-radius: 30px;
    opacity: 0.8;
    margin-top: 4px;
}

/* posting table tile */
.postingsTable-tile > tbody > tr > td:nth-child(1) {
    padding-top: 6px !important;
}

.postingsTable-tile:not(.table-header-fixed) > thead > tr {
    border-right: none !important;
}

.postingsTable-tile.table-header-fixed {
    border-top: none !important;
}

.postingsTable-tile > tbody > tr {
    border-radius: 15px;
}

/* campus connect */
#externalPostingAjax .bootRobot--sidebar__header-tabs .btn:before,
#externalPostingAjax .bootRobot--sidebar__btn--close:before {
    display: none !important;
}

#externalPostingAjax .bootRobot--sidebar__btn--close {
    position: absolute !important;
    box-shadow: none !important;
}

#externalPostingAjax .bootRobot--sidebar__header-tabs .btn.is--active {
    color: #fff !important;
}

/* appointment intro */
.azure-appt-home-navigation > tbody > tr {
    border-radius: 10px;
}