/* =============== Postings =============== */
#postingsTableDiv {
    min-height: 0 !important;
}

.postingsTable {
    table-layout: fixed;
}

.postingsTable > thead > tr > th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    overflow: hidden !important;
    background-position: center right !important;
    vertical-align: middle;
}

.postingsTable > tbody > tr > td {
    text-overflow: ellipsis !important;
    white-space: normal !important;
    overflow: hidden !important;
    box-sizing: border-box;
}

/* Apply button */
.postingsTable > tbody > tr > td > a.btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0;
    text-transform: none;
    font-weight: normal;
}

/* Dropdown */
.postingsTable > tbody > tr > td > div.btn-group {
    display: none;
}

/* NEW tag*/
.postingsTable .label {
    border-radius: 100px;
    padding: 1px 6px;
    font-size: 0.9em;
}

/* job title, organization, division */
.postingsTable > tbody > tr > td:nth-child(4) .combined-info {
    font-weight: normal;
    display: block;
    padding-top: 4px;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > .organization {
    color: #000;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > .division {
    color: #aaa;
}

.postingsTable > tbody > tr > td:nth-child(4) .combined-info > i {
    color: #ccc;
    padding: 0 6px;
}

/*hide organization & division*/
/*.postingsTable > tbody > tr > td:nth-child(5),*/
/*.postingsTable > thead > tr > th:nth-child(5),*/
/*.postingsTable > tbody > tr > td:nth-child(6),*/
/*.postingsTable > thead > tr > th:nth-child(6) {*/
/*display: none;*/
/*}*/

.orgDivTitleMaxWidth {
    max-width: none !important;
}

/* new tab link */
.postingsTable > tbody > tr > td .view-in-new-tab-link {
    font-weight: normal !important;
    padding-left: 5px;
    visibility: hidden;
    text-decoration: none;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -ms-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}

.postingsTable > tbody > tr > td .view-in-new-tab-link > i {
    display: inline;
}

.postingsTable > tbody > tr > td .view-in-new-tab-link > span {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -ms-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}

.postingsTable > tbody > tr > td .view-in-new-tab-link:hover > span {
    opacity: 1;
}

.postingsTable > tbody > tr:hover > td .view-in-new-tab-link {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 979px) {
    .postingsTable {
        table-layout: auto;
    }

    .postingsTable > thead > tr > th {
        white-space: nowrap !important;
    }

    .postingsTable > tbody > tr > td {
        white-space: nowrap !important;
        max-width: 200px !important;
    }

    .postingsTable > tbody > tr > td .view-in-new-tab-link {
        display: none;
    }

}

/* popup modal */
.modal-posting .modal-footer {
    text-align: center;
}

.modal-job-title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 200;
}

.modal-organization {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    opacity: 0.6;
}

.modal-posting-actions {
    margin: 0 0 30px;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-show-link {
    float: right;
    font-size: 14px;
    opacity: 0;
    text-decoration: none !important;
    z-index: 10;
    position: relative;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.postingsTable > tbody > tr:hover > td .modal-show-link {
    opacity: 1;
    font-weight: normal;
}

.modal-nav {

}

.modal-nav i {
    position: fixed;
    display: block;
    top: 40%;
    z-index: -1;
    width: 80px;
    height: 160px;
    font-size: 80px;
    line-height: 160px;
    text-align: center;
    color: #fff;
    opacity: 0.1;
    text-shadow: 0 0 0 #000;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease, text-shadow 0.2s ease;
    -moz-transition: opacity 0.2s ease, text-shadow 0.2s ease;
    -ms-transition: opacity 0.2s ease, text-shadow 0.2s ease;
    -o-transition: opacity 0.2s ease, text-shadow 0.2s ease;
    transition: opacity 0.2s ease, text-shadow 0.2s ease;
}

.modal-nav i.prev-posting {
    left: 10px;
}

.modal-nav i.next-posting {
    right: 30px;
}

.modal-nav i:hover {
    opacity: 0.3;
    text-shadow: 0 0 10px #000;
}

@media (max-width: 1000px) {
    .modal-show-link {
        display: none;
    }

    .modal-nav {
        display: none;
    }
}