html {
    --color-violet: #5f6d9b;
    --color-violet-o-75: #5f6d9bbf;
    --color-orange: #a87022;
    --color-red: #9e3531;
    --color-green: #3c783c;
    --color-blue: #24748a;
    --color-mine: #363636;
    --brand-bg-color: #1f1f1f;
    --nav-bg-color: #1f1f1f;
    --banner-bg-color: var(--color-violet);
    --banner-bar-color-1: #6776a8;
    --banner-bar-color-2: #596691;
    --footer-bg-color: #1f2229;
    --box-title-bg-color: #3c4252;
}

body {
    background: #000;
    color: #ddd;
}


.box,
.orbisModuleTabs,
.orbisTabContainer .tab-content {
    background: #1f1f1f;
    color: #ddd;
}

.panel {
    background: #282828
}

.panel-default {
    border-color: transparent;
}

.panel-default > .panel-heading {
    color: #ddd;
    background: #393939;
}