/* loader overlay */
.azure-load-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    opacity: 1;
    transition: opacity 0.5s;
}

.azure-load-cover-hide {
    opacity: 0;
    pointer-events: none;
}
