/* Employer */

#adminNav {
    box-shadow: none;
    display: block;
}

.nbs--fixed-nav .nav-tabs > li > a {
    color: #999 !important;
}

.nav-tabs > li:first-child a {
    border: none !important;
}

.nav-collapse.in.collapse .nbs--fixed-nav {
    background: #fff;
}

.nav-collapse .nav {
    background: #fff;
}

.nav-collapse.in.collapse .nbs--fixed-nav .dropdown-menu li a {
    color: #000 !important;
}

@media (min-width: 980px) {
    .nbs--fixed-nav {
        left: 20px;
    }

    .dropdown-menu {
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
}
