table {
    margin: auto;
    width: auto;
    border-radius: 0 !important;
    opacity: .9;
    z-index: 100;
    position: relative
}

table * {
    font-size: 14px
}

table .close-notice {
    float: right;
    padding: 10px;
    color: rgba(0, 0, 0, .2);
    text-decoration: none
}

table .close-notice:hover {
    color: rgba(0, 0, 0, .5)
}

table .close-notice i {
    font-size: 20px
}
