/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v11/tg9tUAlnncaBSUvJ5NYofRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v11/uw51sWa2VJFEFkdnqqMZ1RTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v11/zscZFkjVRGyfQ_Pw-5exXPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url(https://fonts.gstatic.com/s/muli/v11/sXVMsGb1R-rKHNHC_Llzn1KPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url(https://fonts.gstatic.com/s/muli/v11/wJCYmI6KNzp9TOXfoH1-qlKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url(https://fonts.gstatic.com/s/muli/v11/x7nsHGw3Bs4oEwGEBXiu6QLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body, strong, p, a, h1, h2, h3, h4, h5, h6, input, button, select {
    font-family: 'Muli', sans-serif !important;
}

body {
    margin: 0 !important;
    padding: 0;
    width: auto;
    min-width: 250px;
    height: auto;
    font-size: 12px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.header .logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 144px;
    height: 20px;
    background: transparent url(../img/popup-logo.png) center no-repeat;
    background-size: contain;
}

.checkbox-slide {
    float: right;
    width: 45px;
    height: 20px;
    margin: 16px 15px 0 0;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.checkbox-slide:after {
    content: "";
    display: block;
    float: right;
    position: absolute;
    background: #ddd;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.checkbox-slide:before {
    content: "";
    float: right;
    position: absolute;
    background: #5bb75b;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    z-index: 0;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    border-radius: 50px 0 0 50px;
}

.checkbox-slide label {
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    border-radius: 50px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.checkbox-slide input[type=checkbox] {
    visibility: hidden;
}

.checkbox-slide input[type=checkbox]:checked + label {
    left: 13px;
}

.content {
    padding: 15px 15px 5px 15px;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.btn {
    margin-bottom: 10px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn:after {
    content: "";
    display: table;
    clear: both;
}

.btn-icon {
    float: left;
    width: 16px;
    height: 16px;
}

.btn-icon img {
    width: 100%;
}

.btn-text {
    float: left;
    margin-left: 8px;
    line-height: 16px;
}

.btn-azure:hover {
    -webkit-box-shadow: 0 0 0 2px #45b6f7;
    -moz-box-shadow: 0 0 0 2px #45b6f7;
    box-shadow: 0 0 0 2px #45b6f7;
}

.btn-green:hover {
    -webkit-box-shadow: 0 0 0 2px #5bb75b;
    -moz-box-shadow: 0 0 0 2px #5bb75b;
    box-shadow: 0 0 0 2px #5bb75b;
}

.btn:hover {
    border-color: #fff;
}

.btn:active {
    background: #eee;
    border-color: #eee;
}

.footer {
    padding: 15px;
    text-align: center;
}

.footer .report {
    color: #666;
}

.footer .report .link {
    color: #1c76d3;
    text-decoration: underline;
    cursor: pointer;
}

.azure-toast {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    padding: 17px 10px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    background: #5bb75b;
    z-index: 100;
    -webkit-transition: top 0.2s linear;
    -moz-transition: top 0.2s linear;
    -ms-transition: top 0.2s linear;
    -o-transition: top 0.2s linear;
    transition: top 0.2s linear;
}

.azure-toast-hidden {
    top: -70px;
}