/* apply btns */
.postingsTable > tbody > tr > td:first-child, .postingsTable > thead > tr > th:first-child {
    width: 10%
}

/* app stat */
.postingsTable > tbody > tr > td:nth-child(2), .postingsTable > thead > tr > th:nth-child(2) {
    width: 5%
}

/* id */
.postingsTable > tbody > tr > td:nth-child(3), .postingsTable > thead > tr > th:nth-child(3) {
    width: 5%
}

/* job title */
.postingsTable > tbody > tr > td:nth-child(4), .postingsTable > thead > tr > th:nth-child(4) {
    width: 30%
}

/* organization */
.postingsTable > tbody > tr > td:nth-child(5), .postingsTable > thead > tr > th:nth-child(5) {
    width: 18%
}

/* division */
.postingsTable > tbody > tr > td:nth-child(6), .postingsTable > thead > tr > th:nth-child(6) {
    width: 14%
}

/* openings */
.postingsTable > tbody > tr > td:nth-child(7), .postingsTable > thead > tr > th:nth-child(7) {
    width: 5%
}

/* int stat */
.postingsTable > tbody > tr > td:nth-child(8), .postingsTable > thead > tr > th:nth-child(8) {
    width: 10%
}

/* city */
.postingsTable > tbody > tr > td:nth-child(9), .postingsTable > thead > tr > th:nth-child(9) {
    width: 8%
}

/* level */
.postingsTable > tbody > tr > td:nth-child(10), .postingsTable > thead > tr > th:nth-child(10) {
    width: 10%
}

/* apps */
.postingsTable > tbody > tr > td:nth-child(11), .postingsTable > thead > tr > th:nth-child(11) {
    width: 4%
}

/* deadline */
.postingsTable > tbody > tr > td:nth-child(12), .postingsTable > thead > tr > th:nth-child(12) {
    width: 8%
}

/* del btn */
.postingsTable > tbody > tr > td:last-child, .postingsTable > thead > tr > th:last-child {
    width: 4%
}

/* ======= tile ======= */
.postingsTable-tile > thead > tr > th:nth-child(1),
.postingsTable-tile > thead > tr > th:nth-child(2),
.postingsTable-tile > thead > tr > th:last-child {
    display: none;
}

/* open */
.postingsTable-tile > tbody > tr > td:nth-child(7) {
    top: 95px;
    left: 70px;
    color: #aaa;
    width: auto;
}

.postingsTable-tile > tbody > tr > td:nth-child(7):before {
    content: '\f015';
    padding-right: 4px;
    font-family: FontAwesome;
}

.postingsTable-tile > tbody > tr > td:nth-child(7):after {
    /*content: ' Opens';*/
}

/* int stat */
.postingsTable-tile > tbody > tr > td:nth-child(8) {
    top: 12px;
    left: 70px;
    width: auto;
    font-size: 10px;
    color: #aaa;
}

/* city */
.postingsTable-tile > tbody > tr > td:nth-child(9) {
    top: 95px;
    left: 130px;
    color: #aaa;
    width: auto;
}

.postingsTable-tile > tbody > tr > td:nth-child(9):before {
    content: '\f041';
    padding-right: 5px;
    font-family: FontAwesome;
}

/* level */
.postingsTable-tile > tbody > tr > td:nth-child(10) {
    top: 114px;
    left: 126px;
    color: #aaa;
    width: auto;
}

.postingsTable-tile > tbody > tr > td:nth-child(10):before {
    content: '\f0fc';
    padding-right: 5px;
    font-family: FontAwesome;
}

/* apps */
.postingsTable-tile > tbody > tr > td:nth-child(11) {
    top: 95px;
    left: 20px;
    color: #aaa;
    width: auto;
}

.postingsTable-tile > tbody > tr > td:nth-child(11):before {
    content: '\f007';
    padding-right: 4px;
    font-family: FontAwesome;
}

.postingsTable-tile > tbody > tr > td:nth-child(11):after {
    /*content: ' Apps';*/
}

/* deadline */
.postingsTable-tile > tbody > tr > td:nth-child(12) {
    top: 114px;
    left: 20px;
    color: #aaa;
    width: auto;
}

.postingsTable-tile > tbody > tr > td:nth-child(12):before {
    content: '\f017';
    padding-right: 4px;
    font-family: FontAwesome;
}

/* not interested */
.postingsTable-tile > tbody > tr > td:nth-child(13) {
    position: absolute;
    right: 15px;
    bottom: 13px;
    text-align: right !important;
    width: 30%;
}

