/* apply btns */
.postingsTable > tbody > tr > td:first-child, .postingsTable > thead > tr > th:first-child {
    width: 10%
}

/* app stat */
.postingsTable > tbody > tr > td:nth-child(2), .postingsTable > thead > tr > th:nth-child(2) {
    width: 5%
}

/* id */
.postingsTable > tbody > tr > td:nth-child(3), .postingsTable > thead > tr > th:nth-child(3) {
    width: 5%
}

/* job title */
.postingsTable > tbody > tr > td:nth-child(4), .postingsTable > thead > tr > th:nth-child(4) {
    width: 30%
}

/* organization */
.postingsTable > tbody > tr > td:nth-child(5), .postingsTable > thead > tr > th:nth-child(5) {
    width: 15%
}

/* division */
.postingsTable > tbody > tr > td:nth-child(6), .postingsTable > thead > tr > th:nth-child(6) {
    width: 10%
}

/* pos type */
.postingsTable > tbody > tr > td:nth-child(7), .postingsTable > thead > tr > th:nth-child(7) {
    width: 10%
}

/* int stat */
.postingsTable > tbody > tr > td:nth-child(8), .postingsTable > thead > tr > th:nth-child(8) {
    width: 12%
}

/* location */
.postingsTable > tbody > tr > td:nth-child(9), .postingsTable > thead > tr > th:nth-child(9) {
    width: 12%
}

/* deadline */
.postingsTable > tbody > tr > td:nth-child(10), .postingsTable > thead > tr > th:nth-child(10) {
    width: 8%
}

/* del btn */
.postingsTable > tbody > tr > td:last-child, .postingsTable > thead > tr > th:last-child {
    display: none !important;
}

/* ======= tile ======= */
.postingsTable-tile > thead > tr > th:nth-child(1),
.postingsTable-tile > thead > tr > th:nth-child(2) {
    display: none;
}

/* type */
.postingsTable-tile > tbody > tr > td:nth-child(7) {
    top: 114px;
    left: 20px;
    color: #aaa;
    width: auto;
}

.postingsTable-tile > tbody > tr > td:nth-child(7):before {
    content: '\f114';
    padding-right: 5px;
    font-family: FontAwesome;
}

/* int stat */
.postingsTable-tile > tbody > tr > td:nth-child(8) {
    top: 12px;
    left: 70px;
    width: auto;
    font-size: 10px;
    color: #aaa;
}

/* location */
.postingsTable-tile > tbody > tr > td:nth-child(9) {
    top: 95px;
    left: 120px;
    color: #aaa;
    width: auto;
}

.postingsTable-tile > tbody > tr > td:nth-child(9):before {
    content: '\f041';
    padding-right: 5px;
    font-family: FontAwesome;
}

/* deadline */
.postingsTable-tile > tbody > tr > td:nth-child(10) {
    top: 95px;
    left: 20px;
    color: #aaa;
    width: auto;
}

.postingsTable-tile > tbody > tr > td:nth-child(10):before {
    content: '\f017';
    padding-right: 4px;
    font-family: FontAwesome;
}